body {
  min-width: 640px;
  max-width: 1280px;
  font-family: 'Ubuntu', regular;
  margin-top: 0px;
  min-height: 720px;
  overflow: hidden;
  background-color: #EBE5DB;
  max-height: 720px;
  color: #2A3764;
  padding-top: 0px;
}

body h1 {
  font-size: 60px;
}

body h2 {
  font-size: 50px;
}

body h3 {
  font-size: 40px;
}

body .highlight {
  background-color: #D7CFC3;
}

div.slideshow-full-width {
  display: inline-block;
  min-height: 720px;
  max-height: 720px;
  min-width: 1280px;
  max-width: 1280px;
}

div.slideshow-half-width {
  display: inline-block;
  min-height: 720px;
  max-height: 720px;
  min-width: 640px;
  max-width: 640px;
}

div.slide {
  width: 100%;
}

div.slide a {
  color: #D36700;
}

div.slide div.slide-header {
  text-align: center;
  font-size: 60px;
  background-color: #D7CFC3;
  border-width: 2px;
  padding-top: 20px;
  border-color: #2A3764;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: solid;
}

div.slide div.slide-header hr {
  margin-bottom: 0;
}

div.slide div.slide-body {
  height: 500px;
  padding-top: 20px;
}

div.slide div.slide-body div.list {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 32px;
}

div.slide div.slide-footer {
  border-width: 2px;
  padding-bottom: 35px;
  border-color: #2A3764;
  justify-content: space-between;
  height: 200;
  min-height: 200;
  margin-bottom: -50px;
  font-size: 50px;
  display: flex;
  max-height: 200;
  padding-top: 22px;
}

div.slide div.title-slide {
  height: 100%;
  width: 100%;
  font-size: 60px;
  text-align: center;
}

div.slide div.title-slide div.slide-body {
  height: 599px;
}

div.slide div.title-slide img.re-frame-logo {
  margin-top: 100px;
  height: 100px;
}

div.slide div.title-slide img.cljs-logo {
  height: 150px;
}

div.slide div.title-slide div.slide-footer {
  border-width: 2px;
  padding-bottom: 35px;
  border-color: #2A3764;
  justify-content: space-between;
  height: 200;
  border-top: solid;
  min-height: 200;
  margin-bottom: -50px;
  font-size: 50px;
  background-color: #D7CFC3;
  display: flex;
  max-height: 200;
  padding-top: 22px;
}

span.controls {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
  border: solid 4px;
  color: #2A3764;
  border-color: #2A3764;
  border-radius: 50px;
  height: 40px;
}

i.material-icons.control {
  display: flex;
  cursor: pointer;
  font-size: 40px;
  border-color: primary;
}

.right {
  border-left: solid 4px;
}